<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
   	<h1>Diamond Price Prediction</h1>
   	<h2>Hey there! I am Chirag and I have deployed the ML model for the first time for diamond price prediction using Heroku cloud platform.</h2>
   	<h3>Please fill out below fields and click on predict button to get diamond price.</h3>
   	<h3>Color_code = 'D': 1, 'E': 2, 'F': 3, 'G': 4, 'H': 5, 'I': 6, 'J': 7</h>
   	<h3>Cut_code = 'Ideal': 1, 'Premium': 2, 'Very Good': 3, 'Good': 4, 'Fair': 5</h>
   	<h3>Clarity_code = IF':1, 'VVS1':2, 'VVS2':3, 'VS1':4, 'VS2':5, 'SI1':6, 'SI2':7, 'I1':8</h>
   	
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    
    	<input type="text" name="carat" placeholder="carat" required="required" />
        <input type="text" name="depth" placeholder="depth" required="required" />
		<input type="text" name="table" placeholder="table" required="required" />
		<input type="text" name="color_code" placeholder="color_code" required="required" />
        <input type="text" name="cut_code" placeholder="cut_code" required="required" />
        <input type="text" name="clarity_code" placeholder="clarity_code" required="required" />
    
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        
    </form>
    

   <br>
   <br>
   <h1>{{ prediction_text }}</h1>

 </div>


</body>
</html>